main {
    display: flex;
    background-color: #D9D9D9;
    height: 100vh;
    overflow-y: auto;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* 이 부분은 상황에 따라 조절해야 합니다. */
}

.image-wrapper img {
    width: 500px; /* 원하는 이미지의 크기 설정 */
    height: auto;
}