.comment-form {
    display: flex;
    align-items: center;
    gap: 0.125rem;
}
.comment-input {
    padding: 0.5rem 1rem;
    border-radius: 18px;
    background-color: transparent;
    border: 2px solid white;
}

.send-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.send-icon {
    width: 25px;
    height: 25px;
    color: white;
    background: url(../../../public/images/send.svg) no-repeat;
    background-size: cover;
}