.comment-item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.comment-item .content {
    word-break: break-all;
}
.name {
    color: black;
    font-size: 1rem;
    font-weight: 700;
}

.more-button {
    text-decoration: underline;
    font-size: 0.875rem;
    color: gray;
    margin-top: 2rem;
}

